:root{
    --base-colour: rgb(22,106,155);
    --black-colour: rgb(0,0,0);
    --white-colour: rgb(255,255,255);
    font-family: arial;
}

h1 {
    color: var(--base-colour);
    font-weight: bold;
}

#body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22.5vh 1fr;
    border:none;
    margin: 0;
    padding: 0;
    grid-column-gap: 0;
    grid-row-gap: 0;
    box-sizing: border-box;
    color: var(--black-colour);
}

#homeButton{
    width: auto;
    height: auto;
    text-align: left;
    border: none;
    background: none;
    display: grid;
    border: none;
}

.header{
    background-color: var(--base-colour);
    color: var(--white-colour);
    width: auto;
    height: auto;
    text-align: left;
    border: none;
    display: grid;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,5));
    grid-template-columns: 1fr;
    grid-template-rows: 14vh 7vh;
}

.topHeader{
    background-color: var(--white-colour);
    border-top: 0.6vh solid var(--base-colour);
    display: grid;
    grid-template-columns: 1fr 172vh 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.botHeader{
    display: grid;
    grid-template-columns: 1fr 172vh 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.main{
    background-color: var(--white-colour);
    display: grid;
    grid-template-columns: 1fr 172vh 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 30px;
}

.button{
    cursor: pointer;
}

.navBar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 2.5vh;
    overflow: hidden;
}

.navBar a{
    color: var(--white-colour);
    text-decoration: none;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}

.navBar a:hover{
    border-bottom: 2px solid var(--white-colour);
}

.navBar li{
    float: left;
}

.container{
    border-bottom: 2px solid var(--white-colour);
}



.eightball-container {
    margin-top: 50px;
      position: relative;
      width: 500px;
      height: 500px;
    }

    .eightball-container img {
      position: absolute;
      image-rendering: pixelated;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #ball-front {
      z-index: 3;
      opacity: 1;
    }

    #ball-back {
      z-index: 1;
      opacity: 1;
      text-align: center;
    }

     .message {
      position: absolute;
      width: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 20px;
      color: var(--white-colour);
      z-index: 2;
      pointer-events: none;
    }

#box-wrapper {
    width: 600px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 140px);
    grid-template-rows: repeat(5, 140px);
    grid-auto-flow: column;
}

.box {
    background-color: lightgrey;
    color: var(--black-colour);
    border-radius: 5px;
    padding: 10px;
    font-size: 100%;
    word-wrap: break-word;
}

.pressed {
    background-color: var(--base-colour);
    color: var(--white-colour);
}

.box > * {
    pointer-events: none;
}
