:root{
    --base-colour: rgb(22,106,155);
    --text-colour: rgb(0,0,0);
    --background-colour: rgb(255,255,255);
    --white-colour: rgb(255,255,255);
    --line-colour: rgb(205,213,220);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1 {
    color: var(--base-colour);
    font-weight: bold;
}

#body{
    display: grid;
    min-height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: 156px 1fr;
    border:none;
    margin: 0;
    padding: 0;
    grid-column-gap: 0;
    grid-row-gap: 0;
    box-sizing: border-box;
    background-color: var(--background-colour);
    color: var(--text-colour);
}

#homeButton{
    width: auto;
    height: auto;
    text-align: left;
    border: none;
    background: none;
    display: grid;
    border: none;
}

.header{
    background-color: var(--base-colour);
    color: var(--white-colour);
    width: auto;
    height: auto;
    text-align: left;
    border: none;
    display: grid;
    box-shadow: 0 0 10px 1px var(--black-colour);
    grid-template-columns: 1fr;
    grid-template-rows: 94px 1fr;
}

.topHeader{
    background-color: var(--background-colour);
    border-top: 4px solid var(--base-colour);
    display: grid;
    grid-template-columns: 1fr 1170px 1fr;
    grid-template-rows: 1fr;

}

.botHeader{
    color: var(--white-colour);
    display: grid;
    grid-template-columns: 1fr 1170px 1fr;
    grid-template-rows: 1fr;

}

.main{
    background-color: var(--background-colour);
    display: grid;
    grid-template-columns: 1fr 1170px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.button{
    cursor: pointer;
}

.navBar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 17px;
    overflow: hidden;
}

.navBar a{
    color: var(--white-colour);
    text-decoration: none;
    display: block;
    padding-right: 23px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid var(--base-colour);
}

.subNavBar a{
    border-bottom: 2px solid var(--white-colour);
    color: var(--black-colour);
    padding-top: 15px;
    margin-right: 20px;
    padding-right: 20px;
    font-size: 15px;
}

.subNavBar a:hover{
    color: var(--base-colour);
}

.navBar a:hover{
    border-bottom: 2px solid var(--white-colour);
}

.navBar li{
    float: left;
}

.container{
    border-bottom: 2px solid var(--white-colour);
}

.contentPaneSplit{
    display: grid;
    grid-template-columns: 305px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.contentPane{
    /* margin-left: 111px; <----------- We need a different pane for this one, cause else, when no side bar... uh oh :) */
}

.sideBar{
    height: auto;
    border-right: 1px solid var(--line-colour);
}

.sideBar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 2.5vh;
    overflow: hidden;
}

.sideBar a{
    color: var(--text-colour);
    text-decoration: none;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
}

.sideBar a:hover{
    border-left: 2px solid var(--base-colour);
}

.navBar li{
    float: left;
}


.eightball-container {
    margin-top: 50px;
      position: relative;
      width: 500px;
      height: 500px;
    }

    .eightball-container img {
      position: absolute;
      image-rendering: pixelated;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #ball-front {
      z-index: 3;
      opacity: 1;
    }

    #ball-back {
      z-index: 1;
      opacity: 1;
      text-align: center;
    }

     .message {
      position: absolute;
      width: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 20px;
      color: var(--background-colour);
      z-index: 2;
      pointer-events: none;
    }

#box-wrapper {
    width: 600px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 140px);
    grid-template-rows: repeat(5, 140px);
    grid-auto-flow: column;
}

.box {
    background-color: lightgrey;
    color: var(--text-colour);
    border-radius: 5px;
    padding: 10px;
    font-size: 100%;
    word-wrap: break-word;
}

.pressed {
    background-color: var(--base-colour);
    color: var(--background-colour);
}

.box > * {
    pointer-events: none;
}




.selected{
    border-bottom: 2px solid var(--white-colour) !important;
}


.selectedSub{
    border-bottom: 2px solid var(--base-colour) !important;
}
