<div class="header">
  <div class="topHeader">
    <br>
    <a href="/">
      <button id="homeButton" class="button">
        <svg height="90" width="125" xmlns="http://www.w3.org/2000/svg">
          <image height="90" width="125" href="/assets/Cshark.png" />
        </svg>
      </button>
    </a>
  </div>
  <div class="botHeader">
    <br>
    <nav class="navBar">
      <ul>
        <li><a href="/citater" class="button">Citater</a></li>
        <li><a href="https://www.youtube.com/shorts/Ay8lynMZ4mE" class="button" target="_blank">Bangers</a></li>
        <li><a href="/bingo" class="button">HCI Bingo</a></li>
        <li><a href="/flashcards" class="button">Flashcards</a></li>
        <li><a href="/sange" class="button">C-Sharks Sangtekster</a></li>
      </ul>
    </nav>
  </div>
</div>